{% assign languages = site.data.data.languages %}
{% if languages %}
<section class="resume-section language-section mb-5">
  <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Language</h2>
  <div class="resume-section-content">
    <ul class="list-unstyled resume-lang-list">
    {% for language in languages %}
      <li><span class="resume-lang-name font-weight-bold">{{ language.name }}</span> <small class="text-muted font-weight-normal">({{ language.proficiency }})</small></li>
    {% endfor %}
    </ul>
  </div>
</section>
{% endif %}